<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="https://docs.microsoft.com/en-us/visualstudio/ide/walkthrough-creating-a-code-snippet?view=vs-2019">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>testmethod</Title>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA[]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>